<div class="card-container">
    <div class="cards">
        <div class="card1">
            <div class="card-main-content">
                <h3>Fly away to your dream holiday</h3>
                <p>Get inspired, compare and book flights with more flexibility</p>
                <!-- <form method="GET" action="/working"> -->
                    <a href="https://www.booking.com/flights/index.en-gb.html?label=msn-YF2QGQDeNqbDd29E_lTd8A-80814291883323%3Atikwd-80814467499078%3Aloc-90%3Aneo%3Amte%3Alp1658%3Adec%3Aqshotel+booking+website&utm_source=bing&utm_medium=cpc&utm_term=YF2QGQDeNqbDd29E_lTd8A&utm_content=Booking+-+Desktop&utm_campaign=English_India+EN+IN&aid=304142&b_merch_cta=1&adplat=byeah_index_banner_flights" ><button>Search for flights</button></a>
                <!-- </form> -->
            </div>
        </div>
        <div class="card2">
            <div class="card-main-content">
                <h3>Seize the moment</h3>
                <p>Save 15% or more when you book and stay before 1 October 2024</p>
                <!-- <form method="GET" action="/Working"> -->
                  <a href="https://www.booking.com/dealspage.en-gb.html?label=msn-YF2QGQDeNqbDd29E_lTd8A-80814291883323%3Atikwd-80814467499078%3Aloc-90%3Aneo%3Amte%3Alp1658%3Adec%3Aqshotel+booking+website&utm_source=bing&utm_medium=cpc&utm_term=YF2QGQDeNqbDd29E_lTd8A&utm_content=Booking+-+Desktop&utm_campaign=English_India+EN+IN&aid=2369666&campaign_id=getaway"><button > Find get way deals</button></a>
                <!-- </form> -->
            </div>
            
            
        </div>
        

    </div>

</div>